.navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 54px;
    border-bottom: 1px solid var(--border);
    background-color: white;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-content-container {
    height: 100%;
    padding: 0 20px;
    width: 76%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 103px;
    height: 29px;
}
.search-container {
    position: relative;
}
.nav-search {
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 0.2rem;
    padding: 0.3rem;
}
.arrow {
    background: rgba(var(--d87, 255, 255, 255), 1);
    border: 1px solid rgba(var(--f23, 255, 255, 255), 1);
    box-shadow: 0 0 5px 1px rgba(var(--jb7, 0, 0, 0), 0.0975);
    border: 1px solid #dbdbdb;
    border-bottom: none;
    border-right: none;
    box-shadow: none;
    height: 14px;
    position: absolute;
    top: 120%;
    left: 45%;
    transform: rotate(45deg);
    width: 14px;
    z-index: 3;
}
.search-dropdown-container {
    width: 120%;
    display: flex;
    flex-direction: column;
    min-height: 200%;
    background: rgba(var(--d87, 255, 255, 255), 1);
    box-shadow: 0 0 5px 1px rgba(var(--jb7, 0, 0, 0), 0.0975);
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding-top: 12px;
    position: absolute;
    left: -10%;
    top: 144%;
    z-index: 3;
}

.search-user-container {
    padding: 5%;
    cursor: pointer;
}
.profile-link {
    display: flex;
    align-items: center;
}
.search-profile-icon {
    margin-right: 5%;
}
.not-found {
    margin-left: 30%;
}
.nav-search:focus {
    background: #fafafa;
    outline: none;
}
.search-img {
    padding-left: 7px;
    background: url("../assets/search.png") no-repeat left 6px top 6px #fafafa;
    background-size: 10px;
}
.nav-icons {
    width: fit-content;
}
.icon {
    margin-left: 24px;
    cursor: pointer;
    width: 24px;
    color: black;
}
.upload-form {
    background-color: white;
   
    position: absolute;
    top: 30vh;
    min-height: 40vh;
    height: max-content;
    width: 30%;
    left: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    z-index: 102;
}
.upload_p {
    width: 100%;
    font-family: 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif;
   padding: 0.5rem 0;
   border-bottom: 1px solid #dbdbdb;
    text-align: center;
}
.image-upload {
    cursor: pointer;
    display: none;
}
.image-upload-label {
    cursor: pointer;
}
.form-content-container{
    width: 70%;
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 5%;
    flex-direction: column;
}
.image-upload-label{
    text-align: center;
    color: white;    
    background-color: #0095F6;
    border-radius: 5px;
    padding: 0.2rem 0;
    margin-bottom: 2%;
    font-family: 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif;
}
.submit-post{
   
   margin-bottom: 2rem;
    cursor: pointer;
   color: #0095F6 ;
    font-family: 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    background-color: transparent;
}
.disabled{
    cursor: default;
    opacity: 0.3;
}
.caption-upload{
    margin: 1rem 0;
    border: none;
}
.caption-upload:focus{
    outline: none;
}
.preview-img{
    max-height: 200px;
    width: auto;
}
.upload-shadow {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.7;
    width: 100%;
    z-index: 101;
    height: 100vh;
}
