.timeline-container {
    margin-top: 12px;
    margin-right: 20%;
    width: 614px;
}

.post-container {
    margin-bottom: 24px;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    max-height: fit-content;
}
.header-container {
    height: 60px;
    padding: 14px 4px 14px 16px;
}
.header-link {
    font-family: "Segoe UI Bold", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    width: min-content;
}
.header-icon {
    margin-right: 14px;
}

.post-img {
    width: 614px;
}

.actions-container {
    margin: 6px 16px 8px;
}
.action {
    margin: 8px;
    color: black;
    cursor: pointer;
    width: 24px;
    height: 20.85;
}
.action:hover {
    color: grey;
}

.action:focus {
    outline: none;
}

.activeLike {
    fill: #ed4956;
    color: #ed4956;
}

.activeLike:hover {
    color: #ed4956;
}
.count-likes {
    font-family: "Segoe UI Bold";
    font-weight: 200;
    padding: 0 8px;
}
.footer-container {
    margin: 0px 16px 8px;
    max-width: 100%;
    word-wrap: break-word;
}

.footer-container span {
    margin: 0px 8px;
}
.footer-user {
    margin: 0px 8px 10px;
    font-family: "Segoe UI Bold", Tahoma, Geneva, Verdana, sans-serif;
}
.footer-user:hover {
    text-decoration: underline black;
}
.footer-caption{

}

.view-all-comments {
    cursor: pointer;
    margin: 0px 16px 8px;
    padding-left: 8px;
    color: grey;
}
.user-comment-link {
    margin: 0px 16px 8px;
    padding-left: 8px;
}

.user-comment {
    word-wrap: break-word;
}

.time-posted {
    margin: 0px 16px 8px;
    padding-left: 8px;
    color: grey;
}

.comment-container{
    width: 100%;
}
.comment-form{
    border-top: 1px solid #dbdbdb;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.comment-input{
    border: none;
    margin: 10px 0px 10px 24px;
    width: 80%;
    font-size: 1.05rem;
}
.comment-input:focus{
    outline: none;
}
.comment-button:disabled{
    cursor: default;
}
.comment-button{
    cursor: pointer;
     color: rgb(9, 176, 236);
    font-weight: 550;
    /* font-family: 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif; */
    background-color: transparent;
     border: none;
    margin: 10px 24px 10px 0 ;
}
.opacity-25{
    opacity: 0.3;
}